<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydzn.crm.mapper.GoodsExtendMapper" >

    <!--插入商品-->
    <insert id="insertGoods" parameterType="goods">
        insert into goods(GoodsName,GoodsMoney,GoodsStorage,GoodsPic)
          values(#{goodsname},#{goodsmoney},#{goodsstorage},#{goodspic})
    </insert>

</mapper>